@model Onibus.Models.Viagem

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>


<div>
    <h4>Viagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Motorista.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motorista.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Onibus.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Onibus.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
